.enjo-hijacked-button:not([disabled]) {
    background: linear-gradient(135deg, #FF4500, #FF8C00) !important;
    color: white !important;
    font-weight: bold;
    border: none !important;
    box-shadow: 0 4px 10px rgba(255, 69, 0, 0.4);
    opacity: 1 !important;
    pointer-events: auto !important;
    cursor: pointer !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.enjo-hijacked-button[disabled] {
    background: linear-gradient(135deg, #999, #777) !important;
    opacity: 0.6 !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
    color: white !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 非活性時の、内側のspanタグの文字色を強制的に白にする
.enjo-hijacked-button[disabled] span {
    color: white !important;
} */

.enjo-result {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    width: max-content;
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
    background-color: #D5D5D5;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}